.navbar-brand {
    font-family: 'Work Sans', sans-serif;
    font-size: 2em
}

/* body {
    background: url('matthieu-buhler-PaFHv0Zi71E-unsplash.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
  }

  .card {
      
  } */